/* General */

* {
  margin: 0px;
  padding: 0px;
  position: relative;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: rgb(0, 127, 100);
  background-image: url("../images/grid.svg");
  background-attachment: fixed;
  background-size: 6em;
}

div.content {
  margin: auto;
}

p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: left;
  font-weight: 400;
  color: black;
  line-height: 150%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

strong {
  font-weight: 600;
  letter-spacing: 0.05em;
}

sup {
  line-height: 1em;
}

/* Header */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5em;
  margin-top: 0.4em;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 170%;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 100%;
  color: rgb(255, 255, 255);
  text-shadow:
    0px 2px 2px rgba(20, 20, 20, 1),
    0px 0px 10px rgba(0, 0, 0, 0.5);
}

.title svg {
  height: 0.8em;
  width: auto;
  top: 2px;
  filter: drop-shadow(0px 2px 2px rgb(20 20 20 / 1));
  margin-right: 0.2em;
}

/* Main */

h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 250%;
  font-weight: 300;
  line-height: 100%;
  color: black;
  text-align: left;
  text-transform: none;
  letter-spacing: 0.02em;
  margin-top: 0.5em;
}

.textblock h2 {
  margin-bottom: 1em;
}

.textblock p {
  margin-bottom: 1.5em;
}

.textblock a {
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

.textblock a:hover {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
  color: #1a7b5d;
}

.textblock .textimage img {
  display: block;
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
}

.textblock .textimage {
  margin-bottom: 1.5em;
}

.textblock .textimage .caption {
  display: block;
  font-size: 90%;
  line-height: 130%;
  margin-top: 1em;
  color: gray;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

ul.list_in_text {
  margin-left: 1em;
}
ul.list_in_text li {
  padding-left: 0.5em;
  line-height: 1.5em;
}

.text {
  padding: 1.5em;
  min-height: 200px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(240, 240, 240, 1) 100%
  );
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  margin-bottom: 1.5em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 3px;
}

img.profil {
  width: 50%;
  border-radius: 100%;
}

/*  Main - List of Models */

.model_item {
  padding: 1.5em 1.5em;
  background: rgb(250, 250, 250);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 3px;
  display: flex;
}

.model_thumbnail img {
  display: block;
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
}

.model_title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 200%;
  font-weight: 300;
  line-height: 100%;
  color: black;
  text-align: left;
  text-transform: none;
  letter-spacing: 0.02em;
}

.model_parameters {
  font-size: 100%;
  color: black;
  font-weight: 400;
  text-align: left;
  margin-top: 1em;
  list-style-type: none;
  opacity: 0.5;
}

.model_parameters li {
  display: inline;
  margin-right: 0.5em;
  white-space: nowrap;
}

.icon {
  height: 1em;
  top: 0.15em;
  margin-right: 0.3em;
}

.model_description {
  margin-top: 2em;
  margin-bottom: 1em;
}

.model_more {
  text-align: left;
  margin-top: 2em;
  margin-bottom: 1em;
}

.model_more a {
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  margin-top: 2em;
}

.model_more a:hover {
  border-bottom: 2px solid #1a7b5d;
  color: #1a7b5d;
}

/* Main - Model Details */

.paper.container {
  padding: 1.5em 1.5em;
  background: rgb(250, 250, 250);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 1.5em;
}

.model.description {
  display: flex;
  flex-direction: column;
}

.model_description.full p {
  margin-bottom: 2em;
}

.paper.container div.preview {
  width: 100%;
  margin-bottom: 2em;
}
div.preview {
  margin-top: 2em;
}

div.model_description.full {
  margin-top: 0em;
}

div.preview img {
  width: 100%;
  display: block;
  border: 1px solid #bbb;
}

div.preview a,
div.thumbnail a {
  cursor: zoom-in;
}

/* Main - Downloads */

.download.container {
  margin-top: 0em;
  text-align: center;
}

.download.button {
  font-size: 120%;
  font-weight: 400;
  color: black;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid rgb(40, 40, 40);
  padding: 0.5em 0.8em;
  border-radius: 0.3em;
  transition: 0.1s;
}

.download.button img {
  height: 1em;
  top: 2px;
  margin-right: 0.5em;
  transition: 0.1s;
}

.download.hinweis {
  font-size: 90%;
  color: gray;
  margin-top: 0.5em;
}

.download.button:hover {
  color: white;
  background: #1a7b5d;
  border-color: #1a7b5d;
}

.download.button:hover img {
  filter: invert(1);
}

.download.container .mehr_hinweis {
  font-size: 90%;
  color: gray;
  text-align: left;
  line-height: 130%;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* Main - Gallery */

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery_item {
  margin-top: 1.5em;
}

.gallery_item:nth-child(1) {
  margin-top: 0em;
}

.gallery_item .thumbnail {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 1px solid #bbb;
}

.gallery_item .thumbnail a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery_item .thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gallery_item .thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.gallery_item p.caption {
  font-size: 90%;
  line-height: 130%;
  margin-top: 1em;
  color: rgb(50, 50, 50);
}

/* Main - Links and References */

.paper.container h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 150%;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

ul.linklist {
  list-style-type: none;
}

ul.linklist li {
  line-height: 150%;
  margin-bottom: 1em;
  text-indent: -1.5em;
  left: 1.5em;
}

ul.linklist li:last-child {
  margin-bottom: 0em;
}

li.link::before,
li.book::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  background-size: 1em;
  background-repeat: no-repeat;
  margin-right: 0.5em;
  background-position: center center;
  vertical-align: middle;
}

ul.linklist li.link::before {
  background-image: url("../images/link.png");
}

ul.linklist li.book::before {
  background-image: url("../images/book_alt.png");
}

ul.linklist li a {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

ul.linklist li a:hover {
  text-decoration-thickness: 0.1em;
  color: #1a7b5d;
}

ul.linklist li .hinweis {
  color: gray;
  font-style: italic;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

ul.linklist li {
  width: calc(100% - 1.5em);
}

/*  Footer */

.footer {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  letter-spacing: 0.075em;
  line-height: 100%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow:
    0px 2px 2px rgba(20, 20, 20, 1),
    0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.legal,
.social {
  display: flex;
  flex-direction: row;
  font-size: 130%;
}

.impressum,
.instagram {
  margin-right: 0.55em;
}

.legal a:hover,
.social a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.07em;
}

.social svg {
  height: 1em;
  width: auto;
  filter: drop-shadow(0px 2px 2px rgb(20 20 20 / 1));
}

.social .label {
  display: none;
  margin-left: 0.5em;
}
